include LICENSE
include README.md
include requirements.txt
include CITATION.cff
include *.md
include data/parameters/*.json
recursive-include docs *.md *.rst
recursive-include examples *.py
recursive-include notebooks *.ipynb
